{% extends "base.html" %}
{% load staticfiles %}

{% block additional-head %}
    <script src="{% static "highcharts.js" %}"></script>
    <script src="{% static "modules/exporting.js" %}"></script>
{% if debug %}
    <script src="{% static "js/jstree.js" %}"></script>
{% else %}
    <script src="{% static "js/jstree.min.js" %}"></script>
{% endif %}
    <script src="{% static "js/require.js" %}"></script>
    <script src="{% static "js/graphing.js" %}"></script>
    <link href="{% static "themes/default/style.min.css" %}" rel="stylesheet">

{% block init-head %}
{% endblock %}

{% endblock %}

{% block pre-content %}
<div id='sidebar'>
    <div id='sidebar-panel'></div>
    <div id='sidebar-handle' >&gt;&gt;</div>
</div>
<div id='range'>
    Timeframe:
    <input type="text" id="start-date" style="width:6em">
    -
    <input type="text" id="end-date" style="width:6em">
    <button type="button" id="update-btn">Update</button>
</div>
</div>
{% endblock %}
