{% extends "graphing.html" %}

{% block init-head %}
{% autoescape off %}
<script>
var curStation = '{{selStation.slug}}';
var sensorList = JSON.parse('{{default_sensor_list}}');
$(function() {
    update();
    $('#update-btn').click(update);
});
function update() {
    var start = $("#start-date").datepicker("getDate");
    var end = $("#end-date").datepicker("getDate");
    for (var i in sensorList) {
        $("#graphs").append($("<div id="+sensorList[i]+"></div>"));
        $.getJSON("{% url 'graph-view' '888' '999' %}"
            .replace('999', sensorList[i])
            .replace('888', curStation) + 
            "?start=" + (start.getMonth()+1)+"-"+start.getDate()+'-'+start.getFullYear() +
            "&end=" + (end.getMonth()+1)+"-"+end.getDate()+'-'+end.getFullYear(), 
            function(opts) {
                var chart = new Highcharts.Chart(opts);
            });
    }
}
</script>
{% endautoescape %}
{% endblock %}

{% block content %}
<div id="graphs"></div>

{% endblock %}
