{% extends "graphing.html" %}

{% block init-head %}
{% autoescape off %}
<script>
$(function() {
    $.getJSON("{% url 'station-front-list' selStation.slug %}", function(sensors) {
        for (var i in sensors) {
            $("#graphs").append($("<div id="+sensors[i]+"></div>"));
            $.getJSON("{% url 'graph-view' selStation.slug '999' %}".replace('999', sensors[i]),
                function(opts) {
                    var chart = new Highcharts.Chart(opts);
                });
            }
    });
})
</script>
{% endautoescape %}
{% endblock %}

{% block content %}
<div id="graphs"></div>

{% endblock %}
