#local {
  left: 1em;
  top: 5em;
  height: 660px;
}

#display {
  position: absolute;
  z-index: -1;
  border: solid 1px;
}

.overlay {
  position: inherit;
  left: 0px;
  top: 0px;
}

#loop {
  left: 1em;
}

#loop img {border: solid 1px;}