{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Weather Station{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/ui-lightness/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
{% block additional-head %}{% endblock %}
</head>
<body>
{% block navbar %}<div id='navbar'>
<table>
    <tr>
        <td><a href="{% url 'homepage-view' %}">Home</a></td>
        <td><a href="{% url 'radar-view' %}">Radar</a></td>
        <td><a href="{% url 'station-view' %}">Stations</a></td>
    </tr>
</table>
</div>{% endblock%}
{% block pre-content %} {% endblock %}
{% block content %} {% endblock %}
{% block post-content %} {% endblock %}
</body>
</html>
