{% extends "base.html" %}
{% load staticfiles %}

{% block additional-head %}
    <script src="{% static "highcharts.js" %}"></script>
    <script src="{% static "modules/exporting.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
<div id='weather-content'>
    <div id='weather-heading'>
        <h1>Hays Weather Conditions</h1>
    </div>
    <div id="forecast">
        <table class="ftable">
            <tr class="header"><th>Forecast</th></tr>
            <tr class="day"><th>Day</th></tr>
            <tr class="night"><th>Night</th></tr>
        </table>
        <div id="source">
            <p>Source: National Weather Service</p>
        </div>
    </div>
</div>
<div id="Temp-Graph" style="width: 580px; height: 250px; margin: 0 4px 3px"></div>
<script>
$(function () {
    $('#Temp-Graph').highcharts({
        title: {text: 'Temperature'},
        chart: {zoomType: 'x'},
        series: [{
            data: [{{tempdata}}]
            }],
        xAxis: {
            title: {text: 'Date/Time (GMT -6)'},
            type: 'datetime'
        },
        yAxis: {
            allowDecimals: false,
            title: {text: 'Temperature (°F)'},
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
        }]},
        tooltip: {valueSuffix: '°F'},
        legend: {enabled: false},
        credits: {enabled: false}
    });
})
</script>
<div id='cams'></div>
{% endblock %}
